@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: #A8DCAB;
}

#About-Box{
  background-color: #A8DCAB;
}
#copyright{
  background-color: rgba(22, 163, 74, 0.7);
  text-align: center;
  height: 40px;
}

/*News Slider*/

.slick-slide>div{
  margin: 0 10px;
}
#News-Slider-Box{
  background-color: rgba(168, 220, 171, 0.7);
}

/*News Slider arrow css */
.slick-next {
  position: absolute;
  right: 10px;
  background: none !important;
  border: none !important; 
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.slick-prev {
  position: absolute;
  right: 10px;
  background: none !important;
  border: none !important;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.slick-next::after {
  content: '';
  display: block;
  width: 10px;
  height: 10px;
  border-right: 3px solid rgba(22, 163, 74, 0.7); /* Green-700 color */
  border-top: 3px solid rgba(22, 163, 74, 0.7);   /* Green-700 color */
  transform: rotate(45deg); 
}

.slick-prev::after {
  content: '';
  display: block;
  width: 10px;
  height: 10px;
  border-left: 3px solid rgba(22, 163, 74, 0.7); /* Green-700 color */
  border-bottom: 3px solid rgba(22, 163, 74, 0.7); /* Green-700 color */
  transform: rotate(45deg); 
}

.slick-prev:hover,
.slick-next:hover {
  transform: scale(1.8);
  opacity: 0.8;
}


.slick-prev::before,
.slick-next::before {
  display: none !important;
}
/*Navbar*/

header{
  background-color: rgba(22, 163, 74);
  position: sticky;
  top: 0;
  z-index: 1;
  height: 20%;
  color: white;
  display: flex;
  justify-content: space-between;

}

ul{
  list-style: none;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-right: 50px;
  font-size: 20px;

}

ul li{
  padding: 5px;
  margin-left: 20px;
  background-color: black;
  padding: 10px;
  border-radius: 10px;
}

ul li span {
  border-radius: 50%;
  border: 1px dashed black;
  padding: 5px 10px;
  margin-right: 10px;
  background:#fff
}

ul li:hover {
  cursor: pointer;
  transform: scale(1.05);
}

/*Mobile navbar style*/
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
#mobile-icon{
  margin: auto 0;
  display: none;
  cursor: pointer;
  z-index: 1;
}

#mobile-icon div{
    width: 35px;
    height: 3px;
    background-color: black;
    margin: 6px 0;
    transition: 0.4s;
    z-index: 1;
}
.open .bar1 {
   -webkit-transform: rotate(-45deg) translate(-6px, 6px);
   transform: rotate(-45deg) translate(-6px, 6px);
}
.open .bar2{
  opacity: 0;
}
.open .bar3{
  -webkit-transform: rotate(45deg) translate(-6px, -8px);
   transform: rotate(45deg) translate(-6px, -8px);
}

.open .mobile-menu{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.mobile-menu{
  display: none;
  position: absolute;
  top: 90%;
  left: 0;
  height: calc(100vh -50px);
  width: 100%;
  height: auto;
  background-color: rgba(22, 163, 74);
}

.mobile-menu li{
  margin-top: 5px;
  margin-bottom: 10px;
}

/*Mobile view*/
@media only screen and (max-width: 750px) {
  header nav{
    display: none;
  }
  #mobile-icon{
    display: block;
    margin-right: 40px;
  }
  header{
    height: 20%;
  }
  #headerlogo{
    width: 15%;
    height: 15%;
  }
  .slider-image {
    height: 150px; 
  }
}









